/* typography */

:root {
    --ff-primary: 'Roboto', sans-serif, 'Roboto Mono', monospace;
    --ff-secondary: 'Martel Sans', sans-serif;

    --fs-05: 0.5rem;
    --fs-0: 1rem;
    --fs-1: 1.5rem;
    --fs-2: 2rem;
    --fs-25: 2.5rem;
    --fs-4: 4rem;
    --fs-5: 5rem;
    --fs-17: 17px;
    --fs-26: 26px;
    --fs-27: 27px;

    --fw-400: 400;
    --fw-700: 700;
    --fw-500: 500;

    --cl-fff: #fff;
    --cl-blue: #2659C3;
    --cl-black: #000000;
    --cl-gray: #808080;

}

body {
    overflow-x: hidden;
}

/* megia query desktop for top navigation */

@media (min-width: 1024px) {


    .top-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: .3s ease;
        right: 0;
        left: 50%;
        background-color: transparent;
        margin-right: 1rem;
        padding: 0.5rem;
        font-family: var(--ff-primary);
        font-size: var(--fs-1);
        color: var(--cl-fff);
        gap: 2rem;
    }

    .top-menu a {
        color: var(--cl-fff);
    }

    .hamburger {
        display: none;
    }

    /* TODO: icon invert */

    .card img {
        filter: invert(0);
    }

    .navigation {

        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding: 0.5rem;
        letter-spacing: 2px;
    }

    .logo h3 {
        font-size: var(--fs-2);
        font-weight: var(--fw-2);
        font-family: var(--ff-primary);
        color: var(--cl-fff);
    }

    /* the last li in top navigation */

    .last-li {
        font-weight: var(--fw-2);
        display: flex;
    }

    .header-content {
        font-size: var(--fs-5);
        margin: 0 auto;
    }

    .navigation-wrapper {
        padding-bottom: 600px;
    }

    main {
        margin-top: -600px;
    }

    .media-destenations {
        position: relative;
    }

    .media-destenations h3 {
        color: var(--cl-fff);
    }

    .search-box {
        flex-direction: row;
        gap: 0;
        width: 100%;
    }

    .search-form {
        border-radius: 0;
    }

    .search-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border: none;
        gap: 10px;
        padding: 10px;
    }

    .search-form:last-of-type {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .search-form:first-of-type {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .search-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-family: var(--ff-primary);
        margin: 0;
    }


    input[type="text"],
    input[type="date"],
    input:nth-child(1) {
        text-align: center;
        border: none;
        background-color: transparent;
        color: var(--cl-fff);
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: var(--cl-fff);
        cursor: pointer;
    }


    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.40);
        backdrop-filter: blur(16px);
        border-radius: var(--fs-1);
        width: 85%;
        background-color: transparent;
        color: var(--cl-fff);
        gap: 1rem;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {

        height: 20px;
        text-align: center;
    }

    .search-form-0:nth-child(5) {
        background-color: var(--cl-blue);
        color: var(--cl-fff);
        font-weight: var(--fw-2);
        padding: 15px;
        cursor: pointer;
    }

    .mobile-blue-button {
        width: 10rem;
        padding: 5px;
        background-color: var(--cl-fff);
        color: var(--cl-blue);
        font-size: var(--fs-1);
        font-weight: var(--fw-2);
        font-family: var(--ff-primary);
        border-radius: 2rem;
        border: none;
        cursor: pointer;
    }


    /* top categories for desktop and mobile version */


    .top-categories {
        color: var(--cl-fff);
        font-family: var(--ff-primary);
        font-size: var(--fs-2);
        font-weight: var(--fw-2);
        overflow-x: auto;
        white-space: nowrap;
        overscroll-behavior-inline: contain;
    }

    .card>p {
        font-size: var(--fs-1);
        font-family: var(--ff-primary);
        color: var(--cl-fff);
        font-weight: var(--fw-400);
    }

    .grid-columns-scroller {
        gap: 3rem;
    }


    .media-scroller {
        display: flex;
        overflow-x: auto;
        margin-left: 1rem;
    }

    .bottom-navigation-flex {
        display: none;
    }

    .media-element {
        display: flex;
        flex: 0 0 21rem;
        position: relative;
    }

    .media-element>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .scroller-categories-title {
        color: var(--cl-fff);
    }

    h3 {
        color: var(--cl-black);
        font-family: var(--ff-primary);
        font-size: var(--fs-2);
        margin: 10px 10px 10px 16px;
    }

    .media-scroller {
        font-family: var(--ff-secondary);

    }

    .text-block {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        color: var(--cl-fff);

    }

    .media-offers {
        display: inline;
        background-color: transparent;
        border-radius: none;
    }

    .media-offers-header {
        font-family: var(--ff-primary);
        font-size: var(--fs-2);
        margin-left: 1rem;
        font-weight: var(--fw-700);
        margin: 2rem;
    }

    .card-flex {
        display: flex;
        margin-left: 1rem;
        padding: 1rem;
        border: none;
        gap: 10px;
        box-shadow: 0px -1px 17px -8px rgba(66, 68, 90, 1);
        border-radius: 1rem;
        width: 900px;
    }

    .img-br-1rem img {
        width: 500px;
        border-radius: 10px;
    }

    .card-flex p {
        margin-top: 1rem;
    }

    .flex {
        display: flex;
    }

    .card-components p {
        font-family: var(--ff-secondary);
        font-size: var(--fs-17);
        color: var(--cl-black);
        opacity: 50%;
        font-weight: var(--fw-400);
    }

    .card-components h4 {
        font-family: var(--ff-secondary);
        color: var(--cl-black);
        font-size: var(--fs-26);
        font-weight: var(--fw-500);
    }

    .blue-but {
        background-color: var(--cl-blue);
        border-radius: 2rem;
        padding: 1rem;
        color: var(--cl-fff);
        border: none;
        font-family: var(--ff-secondary);
        font-size: var(--fs-17);
        text-align: center;
        cursor: pointer;
    }

    .property-type-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        gap: 10px;
    }

    .property-type-container p {
        position: absolute;
        bottom: 2rem;
        color: var(--cl-fff);
        padding: 1rem;
        font-family: var(--ff-secondary);
        font-weight: var(--fw-500);
    }

    .property-type-container img {
        border-radius: 5px;
        width: 450px;
        height: 100%;
        box-shadow: 0px 0px 21px -12px rgba(66, 68, 90, 1);
    }

    .bottom-left p {
        position: absolute;
        bottom: -2rem;

    }

    .browser-type-2rem h4 {
        font-size: 2rem;
        margin-left: 2rem;
        font-family: var(--ff-primary);
        font-weight: var(--fw-700);
    }

    .map-container {
        position: relative;
        padding: 5rem;
        margin: 0 auto;
    }

    .map-position-rel {
        position: absolute;
        top: 8rem;
        padding: 5rem;
        color: var(--cl-fff);
        font-family: var(--ff-primary);
    }

    .map-container img {
        border-radius: 2rem;
        margin-left: 1rem;
        padding: 1rem;
        width: 100%;

    }

    .map-position-rel h3 {
        position: relative;
        top: -6rem;
        color: var(--cl-fff);
        font-family: var(--ff-primary);
        font-size: var(--fs-4);
        font-weight: var(--fw-700);
    }

    .map-position-rel p {
        position: relative;
        top: -6rem;
        margin-left: 1rem;
        font-family: var(--ff-secondary);
        font-weight: var(--fw-400);
        font-size: var(--fs-2);
    }

    .card-disp-flex {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        padding: 1rem;
    }

    .card1 {
        box-shadow: 0px 0px 17px -7px rgba(66, 68, 90, 1);
        border-radius: 10px;
        padding: 1rem;
        width: 20%;
    }

    .card-fs-1rem h4 {
        font-family: var(--ff-secondary);
        font-size: var(--fs-1);
        color: var(--cl-black);
        margin: 8px;
    }

    .card-fs-1rem p {
        margin: 8px;
        color: var(--cl-black);
        opacity: 50%;
        font-family: var(--ff-secondary);
    }

    .card1-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .travelers-community h3 {
        margin-left: 2rem;
        font-family: var(--ff-primary);
        font-size: var(--fs-2);
        font-weight: var(--fw-700);
        color: var(--cl-black);
        padding: 5px;
    }

    /* footer {
        display: block;
    }

    .footer-img img {
        position: relative;
        top: 1rem;
        width: 100%;
        height: auto;
    }

    .img-iphone13 img {
        position: relative;
        left: 10rem;
        bottom: 20rem;
    }

    .footer-content {
        position: relative;
        left: 10rem;
        bottom: 2rem;
    }

    .footer-content h3 {
        color: var(--cl-fff);
        font-family: var(--ff-primary);
        position: relative;
        bottom: 25rem;
    }

    .footer-content p {
        color: var(--cl-fff);
        font-family: var(--ff-primary);
        position: relative;
        left: 1rem;
        bottom: 25rem;
    }

    .footer-contact {
        position: relative;
        right: 16rem;
        top: 8rem;


    }

    .footer-paragraph-padd3 {

        vertical-align: middle;
    }

    .footer-form p {
        color: var(--cl-fff);
        font-family: var(--ff-primary);
    }

    .footer-contact-column {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 7rem;
        bottom: 23rem;
    }

    .footer-apps {
        position: relative;
        bottom: 21rem;
        left: 14rem;
    }

    .footer-paragraph-padd3 {
        position: relative;
        bottom: 24rem;
        left: 11rem;
    }

    .button {
        background-color: var(--cl-fff);
        opacity: 40%;
        border: none;
        border-radius: 17px;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        transition-duration: 0.4s;
        vertical-align: middle;
        text-align: center;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span::after {
        content: '';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .mobile-btn:hover {
        color: var(--cl-blue);
        background-color: var(--cl-fff);
    }

    .email-btn:hover {
        color: var(--cl-blue);
    }

    .info {
        position: relative;
    }

    .button .mobile-btn:hover {
        visibility: hidden;
    }

    .info:after {
        content: 'Enter your phone number to receive a text with a link to download the app. ';
        display: none;
        position: absolute;
    }

    .info {
        color: var(--cl-fff);
        font-family: var(--ff-primary);
        font-weight: var(--fw-400);
        font-size: var(--fs-0);
    }

    .footer-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.40);
        backdrop-filter: blur(16px);
        border-radius: var(--fs-1);
        width: 100%;
        color: var(--cl-fff);
        gap: 1rem;
        padding: 0.5rem;
    } */

    /* .footer-input button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        border: none;
        gap: 10px;
        padding: 10px;
        width: 40%;
        position: relative;
        right: 1rem;
        color: var(--cl-blue);
        font-weight: var(--fw-700);
        font-size: var(--fs-0);
        cursor: pointer;
    } */

    /* .footer-paragraph-padd3 p {
        color: var(--cl-fff);
        text-align: center;
        font-family: var(--ff-primary);
        font-size: var(--fs-0);
    }

    .footer-apps a {
        padding: 1rem;
    } */

    /* .footer-area-black {
        background-color: var(--cl-black);
        position: relative;
        bottom: 20rem;
        justify-content: space-between;
        align-items: center;
    } */

    /* .footer-card h1 {
        color: var(--cl-fff);
        margin-left: 4rem;
    }

    .footer-card {
        color: var(--cl-gray);
        background-color: var(--cl-black);
        padding: 1rem;
    } */

    /* .footer-card-end {
        position: relative;
        bottom: 21rem;
        background-color: var(--cl-black);
    } */

    /* .card-end {
        color: var(--cl-gray);
        position: relative;
        left: 15rem;
    } */
/* 
    .border-1px {
        border: solid 1px;
        text-align: center;
        width: 10%;
        padding: 5px;
        color: var(--cl-gray);
    } */

    /* .card-end-position {
        position: relative;
        left: 25rem;
        bottom: 5rem;
        gap: 2rem;
    } */

}

