/* typography */

:root {
  --ff-primary: 'Roboto', sans-serif, 'Roboto Mono', monospace;
  --ff-secondary: 'Bebas Neue', sans-serif;

  --fs-05: 0.5rem;
  --fs-1: 1rem;
  --fs-15: 1.5rem;
  --fs-2: 2rem;
  --fs-5: 5rem;

  --fw-1: 400;
  --fw-2: 700;

  --crl-white: #fff;
  --crl-blue: #2659C3;
  --crl-black: #000;

  --gap-1: 1rem;
  --gap-2: 2rem;
  --gap-3: 3rem;

  --padding-003: 3px;
  --padding-0: 1.5rem;
  --padding-1: 1rem;
  --padding-1-5: 1.5rem;
  --padding-2: 2rem;
  --padding-3: 3rem;

}

/* global settgings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hamburger*/

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 2px;
  margin-left: 1rem;
}

/* lines of hamburger */

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 3px;
  background-color: var(--cl-fff);
  margin: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.line1 {
  width: 20px;
}

.line2 {
  width: 25px;
}

.line3 {
  width: 20px;
}

/* nav */

.navigation {
  z-index: 1000;
  position: relative;
  /* position: sticky; */
  /* top: 0; */
}

.navigation-wrapper {
  position: relative;
  padding-bottom: 400px;
  
}

.navigation > .top-menu {
  position: absolute;
}

.top-menu {
  padding: 2rem;
  background-color: #fff;
}

/*  */

.primery-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font: var(--ff-primary);
  margin: 0 auto;
  color: var(--cl-fff);
}

.top-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -100%;
  transition: .5s ease;
  font-family: var(--ff-primary);
  font-size: var(--fs-1);
  color: var(--crl-black);
}

.top-menu a {
  color: var(--crl-black)
}

.font-1rem>a {
  font-size: var(--fs-1);
  text-decoration: none;
}

.top-menu-active {
  left: 10px;
}

/* active line of hamburger */

.line1-active {
  transform: translateY(-2px) rotate(45deg);
  transform-origin: left;
}

.line2-active {
  transform: scaleX(0);
}

.line3-active {
  transform: translateY(2px) rotate(-45deg);
  transform-origin: left;
}

.navigation-section {
  position: relative;
  z-index: 100;
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-container {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero {
  position: relative;
  z-index: 50;
}

.background-container::after {
  content: '';
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /* mozna zmienic wysokosc tego linear-gradient */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}

/* underline for menu elements and also space between li elements*/
.top-menu li {
  position: relative;
  cursor: pointer;
  margin: 5px;
  font-size: var(--fs-1);
}

li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* underline efect after hover */
li:hover::after {
  opacity: 1;
}

/* header */

.header {
  margin-left: 1rem;
}

.header-content {
  position: relative;
  top: -1rem;
  z-index: 2;
  font-size: var(--fs-2);
  color: var(--cl-fff);
  font-family: var(--ff-primary);
  font-weight: var(--fw-2);
  margin: 2rem 2rem 0;
}

.search-box {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(16.000154495239258px);
  background-color: transparent;
  border: none;
  gap: 10px;
  margin: 10px;
}

.search-form input {
  border: none;
  background: transparent;
  color: var(--cl-fff);
  font-family: var(--ff-primary);
}

.akar-icons_search {
  padding: 2px;
}

.search-form input::placeholder {
  color: var(--cl-fff);
  opacity: 0.7;
}

input[type="date"] {
  color: var(--cl-fff);
  /* background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(16.000154495239258px); */
  background-color: transparent;
  font-family: var(--ff-primary);
  border: none;
  border-radius: 4px;
}

/* Ikona kalendarza */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  content: url('img/akar-icons_calendar.png');
  width: 20px;
  height: 20px;
  text-align: center;
}

.calendar-box {
  margin-left: 20px;
  padding: 1px;
}

.search-form:nth-child(1) {
  padding: 10px;
}

.search-form:nth-child(2) {
  padding: 10px;
}

.search-form:nth-child(3) {
  padding: 12px;
}

.search-form:nth-child(4) {
  padding: 12px;
  font-weight: var(--fw-2);
}

.search-form:nth-child(5) {
  background-color: var(--cl-blue);
  font-weight: var(--fw-2);
  padding: 15px;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
}

.search-form-0 {
  display: none;
}

.mobile-blue-button {
  cursor: pointer;
  font-family: var(--ff-primary);
  background-color: var(--cl-blue);
  color: var(--cl-fff);
  font-size: var(--fs-1);
  font-weight: var(--fw-2);
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  width: 100%;
}

/* main  */

main {
  margin-top: -400px;
}

.card img {
  filter: invert(1);
}

.scroller-categories-title  {
  font-family: var(--ff-primary);
  font-size: var(--fs-15);
  margin-left: 1rem;
  color: var(--crl-black);

}

.grid-columns-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10%;
  overflow-x: hidden;
  gap: var(--gap-1);
  overscroll-behavior-inline: contain;
  margin-left: 1rem;
}

.card {
  display: grid;
  grid-template-rows: min-content;
  padding: var(--padding-003);
  justify-items: center;
  align-items: center;
  gap: var(--gap-1);
}

.card>img {
  place-items: center;
  width: 2rem;
  height: 2rem;
}

.snaps-inline {
  scroll-snap-type: x mandatory;
  scroll-padding-inline: 5px;
  overflow-x: auto;
}

.snaps-inline>* {
  scroll-snap-align: start;
}

.card p {
  color: var(--crl-black);
  opacity: 0.4;
  font-size: var(--fs-05);
}

/* top categories for desktop and mobile version */

.top-categories {
  color: var(--cl-fff);
  font-family: var(--ff-primary);
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  overflow-x: auto;
  white-space: nowrap;
  overscroll-behavior-inline: contain;
  overflow-x: auto;
}

.top-categories {
  margin-top: 20px;
}

/*  */

.media-destenations-header {
  margin-left: 1rem;
}
.media-scroller {

  display: flex;
   overflow-x: auto;
   gap: var(--gap-1);
}

.media-element {
   display: flex;
   flex: 0 0 21rem;
  position: relative;
  margin-left: 1rem;
}

.media-element>img {
  width: 100%;
  height: 100%;
   object-fit: cover;
 }




.text-block {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--crl-white);
}

/* align  image */

/* .media-element>img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
} */

/* bottom-navigation */

.bottom-navigation-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  padding: var(--padding-1);
  gap: var(--gap-1-5);
  color: var(--crl-black);
}

.bottom-navigation-flex>img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;

}

.bottom-navigation-flex>a {
  color: var(--crl-black);
  opacity: 0.4;
}


.nav-bottom-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bottom-flow>a {
  font-family: var(--ff-secondary);
  color: var(--crl-black);
  opacity: 0.4;
  font-weight: var(--fw-1);
  font-size: var(--fs-05);
  text-decoration: none;
  padding: var(--padding-003);
  gap: var(--gap-1);
}

a.crl-blue {
  color: var(--crl-blue);
}